<!DOCTYPE html>
<html>
<head>
    <title>SkillSwap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<!-- NAVBAR -->
<div class="navbar">
    <h2>SkillSwap</h2>
    <div class="nav-links">
        <a href="/register">Register</a>
        <a href="/login">Login</a>
        <a href="/skills" target="_blank">Skills</a>
        <a href="/matches" target="_blank">Matches</a>
    </div>
</div>

<!-- HERO SECTION -->
<div class="hero">
    <h1>Exchange Skills. Learn Together.</h1>
    <p>Connect with students and exchange skills without money.</p>

    <div class="hero-buttons">
        <a class="btn" href="/register">Get Started</a>
        <a class="btn-outline" href="/login">Login</a>
    </div>
</div>

<!-- FEATURES -->
<div class="container">
    <div class="grid">
        <div class="card">
            <h3>Offer Skills</h3>
            <p>Share what you know with others.</p>
        </div>

        <div class="card">
            <h3>Learn Skills</h3>
            <p>Request skills you want to learn.</p>
        </div>

        <div class="card">
            <h3>Connect</h3>
            <p>Match with users and exchange knowledge.</p>
        </div>
    </div>
</div>

<!-- FOOTER -->
<footer class="footer">
    <div class="container">
        <p>&copy; All rights reserved by DK 2025-26</p>
    </div>
</footer>

</body>
</html>
